.bundle
.cache
.DS_Store
.sass-cache
vendor/
env_var.rb
helpers/env_var.rb
public/character_compatibility.html
public/LifeGame/
public/pubg-random/
# public/JSTyping/
app_config.rb
public/img
Rakefile
database.yml
test2.rb
