@charset "utf-8";
body {
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  overflow-x: hidden;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-flex {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.global-nav {
  margin-top: 60px;
  margin-right: 10px;
  height: 100px;
  max-width: 400px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 22px;
  list-style: none;
  font-family: 'Ropa Sans', sans-serif;
}

.global-nav li a {
  color: #FFFFFF;
}

.global-nav li a:hover {
  border-bottom: 2px solid #FFFFFF;
  text-decoration: none;
  padding-bottom: 4px;
}

.blog-nav {
  max-width: 960px;
  margin: auto;
  margin-top: 112px;
}

.main-nav {
  display: flex;
  list-style: none;
}

.main-nav li {
  flex-grow: 1;
  text-align: center;
  background-color: rgba( 50, 50, 50, 0.50);
  padding: 8px;
  width: 20%;
  font-size: 18px;
  border-top: 1px solid rgba( 0, 0, 0, 0.50);
  border-left: 1px solid rgba( 0, 0, 0, 0.50);
}

.main-nav li:last-child {
  border-right: 1px solid rgba( 0, 0, 0, 0.50);
}

.main-nav li a {
  color: white;
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.main-nav li:hover {
  background-color: rgba( 0, 0, 0, 0.50);
}

footer {
  text-align: center;
  color: #FFFFFF;
  padding: 30px 0;
  background-color: rgba( 0, 0, 0, 0);
  margin: 0 auto auto auto;
  height: 30px;
  padding-bottom: 65px;
}

footer p {
  font-size: 12px;
}

.footer-link {
  color: white;
}

.logo a {
  text-decoration: none;
  color: black;
}

#Profile {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 460px;
  min-height: 900px;
  overflow-x: scroll;
}

.mask {
  background-color: rgba( 0, 0, 0, 0.7);
}

.content {
  max-width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 170px;
}

.top {
  font-size: 50px;
  color: #FFFFFF;
  font-family: 'Kaushan Script', cursive;
  margin-top: 30px;
  margin-left: 30px;
}


p {
  color: #FFFFFF;
  font-size: 17px;
}

.title:before {
  content: "";
  padding-right: 13px;
  border-left: 6px solid #FFFFFF;
}

.title {
  margin-bottom: 4px;
  font-size: 30px;
  font-family: 'Ropa Sans', sans-serif;
}

.main-center {
  padding: 0px 30px;
}

.main-center section {
  margin-bottom: 25px;
}

table {
  color: white;
  border-collapse: 10px;
  border: none;
}

.prof th {
  width: 110px;
  height: 30px;
  text-align: left;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;

}

.prof td {
  /*background-color: rgba( 0, 0, 0, 0.55);*/
  width: 660px;
  padding: 12px 40px;
  font-family: 'Montserrat', sans-serif;
}

.sns {
  margin-top: 20px;
  display: flex;
}

.sns-twi {
  margin: -3px 15px;
}

.twi-image {
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.github-image {
  text-decoration: none;
  width: 80px;
  height: 41px;
  margin-top: -3px;
  margin-left: 5px;
}

.square_btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 0.3em 1em;
  margin-right: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
}

.square_btn:hover {
  opacity: 0.7;
  background: black;
  text-decoration: none;
  color: white;
}

.recent-tech-preferences {
  margin-left: 20px;
}

.recent-tech-preferences li {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.char {
  border-right: 4px solid white;
  padding-right: 10px;
  -webkit-animation: blink-caret .4s step-end infinite alternate;
}

@media screen and (max-width: 920px) {
  .mask {
    margin-top: -30px;
  }
  .top {
    padding-top: 30px;
  }
  header {
    height: 300px;
    margin-bottom: -60px;
  }
  .nav-flex {
    display: block;
  }
  .global-nav {
    margin-top: -32px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 615px) {
  .top {
    font-size: 40px;
  }
}
