@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}

.container,.contents-nav,.title,.sub-title,.description-area {
  margin: auto;
}

.container {
  width: 700px;
  min-width: 700px;
  min-height: 1100px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid #d2691e;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
          box-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  position: relative;
}

.background-style {
  background-image: url(images/pubg-pic.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 460px;
  min-height: 950px;
  overflow-x: scroll;
}

.contents-nav {
  width: 550px;
  height: 550px;
  margin-bottom: 50px;
}

.contents-nav img {
  width: 550px;
  height: 130px;
  margin-bottom: 50px;
  border: 3px solid #d2691e;
  -webkit-box-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
          box-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.title {
  margin-bottom: -10px;
  padding-top: 40px;
  width: 300px;
}

.title img {
  width: 300px;
  height: 100px;
}

.contents-nav div {
  position: relative;
}

.contents-nav span {
  width: 300px;
  height: 130px;
  text-align: center;
  color: #d2691e;
  font-size: 80px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: 'Merriweather', serif;
  text-shadow: 2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000;
}

.sub-title {
  width: 535px;
  color: #d2691e;
  text-align: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.description-area {
  width: 535px;
  height: auto;
  margin-bottom: 50px;
  font-family: sans-serif;
  border: 3px solid white;
  border-radius: 10px;
  background-color: black;
  padding-right: 15px;
  letter-spacing: 0.1em;
}

.description-area li {
  color: white;
}

footer {
  position: absolute;
  width: 700px;
  bottom: 0;
  left: 0;
  height: 100px;
  line-height: 100px;
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
}

small {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
    .background-style{
      width: 700px;
    }
    .container {
      width: 100%;
      height: 1500px;
    }
}
